<h1>Home page</h1>
<nav class="menu-on-top">
    <a class="home-menu" href="#">Home</a>
      
    <a href="#">About</a>
    <a class="products-menu" href="#">Products</a>
    <a href="#">FAQs</a>
    <% if user_signed_in? %>
      <a href="<%= destroy_user_session_path %>" data-method="delete">Log Out</a>
    <% else %>
      <a href="<%= new_user_session_path %>"> Log In </a>|
      <a href="<%= new_user_registration_path %>"> Sign Up </a>
    <% end %>
    <div class="show-when-click-home">
    </div>
    <div class="show-when-click-products">
    </div>
</nav>
