<h1>Home page</h1>
<nav class="menu-on-top">
    <a class="home-menu" href="#">Home</a>
      
    <a href="#">About</a>
    <a class="products-menu" href="#">Products</a>
    <a href="#">FAQs</a>
    <div class="show-when-click-home">
    </div>
    <div class="show-when-click-products">
    </div>
</nav>
