Hey, here is cart in product
<div class="custom-product-quantity">
  <button class = "btn fa fa-minus minus"> </button>

<input class="quantity-number" name="product-number" value="1"><button class="btn fa fa-plus plus"></button>
</div>
<button class = "btn checkout_btn" value= "<%= @product.id %>"> Buy Now </button>
show
