<div class="cart-page">
  You have <%= pluralize(current_cart.order_items.count, 'Product') %> in your Cart<br>

<% if current_cart.order_items == nil %>
  @cart,order_items == nil 
<% else %>
  @cart.order_item not nil 
<% end %>


<% current_cart.order_items.each do |item| %>
  show item here

  <%= item.quantity %>
<% end %>



</div>
