.cart-page{

}
.inform {
  text-align: center;
  padding: 15px;
}
.order_item{
  padding: 7px 0px;
  margin: 5px;
  border-top: 1px solid #333333;
  margin-bottom: 5px;

}
.item {
  margin: 15px;
  width: 40%;
  display: inline-block;
}
.price {
  text-align: center;
  width: 10%;
}
.custom-quantity{
}


.centerbtn { text-align: center; border-top: 1px solid #333333; }

.cart_btn, .checkout_btn {
  margin-top : 15px;

}



.custom-number{
  width: 30px;
  padding: 2px;
  text-align: center;
}

.fa:hover{
  color: white;
}
.fa{
  color: white;
}
