// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cash, #card, #paypal{
  width: 100%;
  min-height: 10px;
}

#cash {
  background: blue;
  display: none;
}

#card {
  //background: pink;
  display: none;
}

#paypal {
  background: red;
  display: none;
}

.inform-success{
  padding: 10px;
  color: green;
  text-align: center;
}
