// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-on-top a{
  display: inline-block;
  padding: 10px;
}
a:hover{
  text-color: white;
  text-decoration: none;
}
.show-when-click-home{
  width: 100%;
  height: 90px;
  background-color: #232350;
  display: none;
}
.show-when-click-products{
  width: 100%;
  height: 100px;
  background-color: #232323;
  display: none;
}
.active{
  clear: both;
  display:block;
}
.inactive{
  display: none;
}

// Style for devise error
#error_explanation {
  width: 100%;
  border: 2px solid #036;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;

}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: red;
}

#error_explanation p {
  color: #333;
  margin-bottom: 5px;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

@media only screen and(max-width: 500px){
  .menu-on-top{
  background-color:#036;
}
}
@media only screen and (max-width: 320px){
  .menu-on-top{
    background-color: red;
  }
}
@media only screen and (min-width: 920px){
  .menu-on-top{
    background-color: #502323;
  }
}


